<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page d'Ulysse</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
  <div class="container principal zone-dim">
    <div class="card-black card-principale">
      <h1>ULYSSE CHARRAUD</h1>
      <br>
      <%= image_tag("ulysse.jpeg", alt: "Photo portrait", class: "img-circle shadowed") %>
        <h2>Développeur fullstack junior</h2>
        <h2>Actuellement en recherche active d'un premier poste</h2>
        <p>J'aime le judo 🥋, le vélo 🚲 et la musique "Rock/Metal" 🤘.</p>
  </div>
    <div class="projet card-black card-principale">
      <h1>Projet de fin de formation</h1>
      <h2>Meetsicians</h2>
          <!-- Slides -->
        <div id="carouselExampleControls" class="carousel slide carslide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-block w-100" alt="silde 1"><%= image_tag("meetsicians/img1.png")%></div>
            <div class ="titre-diapo"><p>Page d'acceuil</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 2"><%= image_tag("meetsicians/img2.png")%></div>
            <div class ="titre-diapo"><p>Page de recherche</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 3"><%= image_tag("meetsicians/img3.png")%></div>
            <div class ="titre-diapo"><p>Filtres</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 3"><%= image_tag("meetsicians/img4.png")%></div>
            <div class ="titre-diapo"><p>page d'un groupe</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 4"><%= image_tag("meetsicians/img5.png")%></div>
            <div class ="titre-diapo"><p>page des membres</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 3"><%= image_tag("meetsicians/img6.png")%></div>
            <div class ="titre-diapo"><p>notre page de profil</p></div>
            </div>
            <div class="carousel-item">
              <div class="d-block w-100" alt="slide 4"><%= image_tag("meetsicians/img7.png")%></div>
            <div class ="titre-diapo"><p>page du chat</p></div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="card-black" id="card-links">
        <p id="link">Liens</p>
        <ul class="list-inline">
        <li>
          <a href="https://github.com/Morktjarn" target="_blank" class="icone-round">
            <i class="fa-brands fa-github " style="color: #E2254F;">
            </i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ulysse-charraud-45552b238/" target="_blank" class="icone-round">
            <i class="fa-brands fa-linkedin" style="color: #E2254F;">
            </i>
          </a>
        </li>
        <%# <li>
          <a href="https://listen.tidal.com/playlist/fc91313b-e46c-4156-bf3c-96e99b14ae98" target="_blank" class="icone-round">
            <i class="fa-solid fa-music fa-spin" style="color: #E2254F;">
              </i>
          </a>
        </li> %>
        </ul>
      </div>
    </div>  <!-- fin container principal -->
  </div>
</body>
</html>
